body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252628;
}

h4{
    color: #252628;
    font-weight: 600;
}

.container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 7px 29px 0px rgba(28, 20, 66, 0.656);
    
}

.form{
    display: flex;
    align-items: center;

}


.select_option{
    padding: 0 30px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    
}


.input_wrapper {
    flex: 1;
    margin-right: 10px; 
}


.select_option select, .select_option input, .name input {
    outline: 2px solid #265B94; 
    /* box-shadow: 4px 4px 2px rgb(120, 120, 120); */
}


.name{
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 20px;
    
}

.input-group{
    display: flex;
}

.btn-primary{
    background-color: #265B94;
    border: none;
}

.login{
    display: flex;
    gap: 20px;
}

#comment {
    height: 100px; /* Adjust the height as needed */
}